<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.bankapp.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.bankapp.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.bankapp.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<display-name>UpdateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.bankapp.controller.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListUserServlet</servlet-name>
  	<display-name>ListUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.bankapp.controller.ListUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateAccountServlet</servlet-name>
  	<display-name>UpdateAccountServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.bankapp.controller.UpdateAccountServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowUserServlet</servlet-name>
  	<display-name>ShowUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.bankapp.controller.ShowUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteUserServlet</servlet-name>
  	<display-name>DeleteUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.bankapp.controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<display-name>UpdateUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.bankapp.controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertAccountServlet</servlet-name>
  	<display-name>InsertAccountServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.bankapp.controller.InsertAccountServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListAccountServlet</servlet-name>
  	<display-name>ListAccountServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.bankapp.controller.ListAccountServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListMyAccountsServlet</servlet-name>
  	<display-name>ListMyAccountsServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.bankapp.controller.ListMyAccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListUserServlet</servlet-name>
  	<url-pattern>/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateAccountServlet</servlet-name>
  	<url-pattern>/UpdateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowUserServlet</servlet-name>
  	<url-pattern>/ShowUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUserServlet</servlet-name>
  	<url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertAccountServlet</servlet-name>
  	<url-pattern>/InsertAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAccountServlet</servlet-name>
  	<url-pattern>/ListAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListMyAccountsServlet</servlet-name>
  	<url-pattern>/ListMyAccountsServlet</url-pattern>
  </servlet-mapping>
</web-app>
